// ===== Color ===== 

$orange: #d56e3f;
$title-color: #2c2420;
$text-color: #68544b;
$text-color-light: #958983;
$body-color: #fff1eb;
$body-dark: #2f221c;

// ===== Font-size =====
$size-h1: 5rem;
$size-h3: 3rem;
$size-h5: 2rem;
$size-p: 1.8rem;